<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.core.mapper.BizSerialMapper">
    <resultMap id="idSelectInStoreSerials" type="org.jeecg.modules.system.core.entity.BizSerial" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
	<select id="selectInStoreSerials" resultMap="idSelectInStoreSerials">
		select id,serial1 as serial from biz_serial
		where gsdm = #{gsdm}
		and qty >= 1
		<if test="listSerials!=null  and listSerials.size()>0">
			and serial1 in
			<foreach collection="listSerials" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		union all
		select id,serial2 as serial from biz_serial
		where gsdm = #{gsdm}
		and qty >= 1
		<if test="listSerials!=null  and listSerials.size()>0">
			and serial2 in
			<foreach collection="listSerials" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		union all
		select id,serial3 as serial from biz_serial
		where gsdm = #{gsdm}
		and qty >= 1
		<if test="listSerials!=null  and listSerials.size()>0">
			and serial3 in
			<foreach collection="listSerials" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		order by 1
	</select>




	<select id="selectBizSerialByPurchaseInDetailId" resultType="org.jeecg.modules.system.core.entity.BizSerial">
        select d.* from biz_purchase_in as a
        inner join biz_purchase_in_detail as b
        on a.id = b.head_id
        and a.gsdm = #{gsdm}
        and a.del_flag = '0'
        and b.del_flag = '0'
        and a.id = #{bizId}
        inner join biz_flow_serial as c
        on b.id = c.head_id
        and c.del_flag = '0'
        inner join biz_serial as d
        on c.serial_id = d.id
        where a.id = #{bizId}
    </select>
</mapper>